@font-face {
  font-family: "iconfont"; /* Project id 3053789 */
  src: url('iconfont.woff2?t=1641368752064') format('woff2'),
       url('iconfont.woff?t=1641368752064') format('woff'),
       url('iconfont.ttf?t=1641368752064') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tixing:before {
  content: "\e6cc";
}

.icon-qunliao:before {
  content: "\e690";
}

.icon-yinle:before {
  content: "\e621";
}

.icon-radio:before {
  content: "\e6cd";
}

.icon-yinle1:before {
  content: "\e63b";
}

.icon-cunqingjianjie:before {
  content: "\e655";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-caidan:before {
  content: "\e62c";
}

.icon-tianchongxing-:before {
  content: "\e63d";
}

